<!-- this is ripped from intro to HTML and tags -->
	
	
	h1 {color: blue;}
	h2 {color: white;}
	p {
	color:blue;
	font-weight: 1000;
	text-decoration: overline;
	}
	
	a {
	color: red;
	}
	body {
 background-image: url("space.jpg");
}
	.responsive {
	width: 100%;
	height: auto;
}
a {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: crimson;
}

a:active {
    border: 3px solid crimson;
}
button:focus {
    border: 3px solid blue;
}

input:focus {
    border: 3px solid blue;
}
.play_btn {
	 color: black;
    transition: color 2s ease-out;
	font-size: 40px;
}
.play_btn:hover {
	color: red;
}
.player {
	min-heigt: 300px;
	min-width: 200px;
	background-color: #DDDDDDDD;
	text-align: center;
}
